#root {
  margin: 0;
  height: 100vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 4em;
}

.node circle {
  fill: black;
  stroke: #ffffff;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
  color: white;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.container {
  display: flex;
  justify-content: center;
}

.appInput {
  height: 30px;
}

.appTree {
  width: 960px;
  height: 400px;
}
.node circle {
  fill: black;
  stroke: #ffffff;
  stroke-width: 3px;
}

.node circle.highlight {
  fill: red;
}

.node text {
  font: 12px sans-serif;
  color: white;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.slider {
  width: 100%; /* Adjust the width as needed */
}